@using WebFitnCent.Models


<link href="~/Css/PregledSortIPretraga.css" rel="stylesheet" type="text/css" />

<div class="container">
    <a href="~/Neprijavljeni/Opcije">Povratak na Opcije</a>
    <h1>Pogledaj Prosle Grupne Treninge</h1>
    <div>
        <div>
            Id
        </div>
        <div>
            Naziv
        </div>
        <div>
            Tip Treninga
        </div>
        <div>
            Fitnes Centar
        </div>
        <div>
            Trajanje Treninga
        </div>
        <div>
            Datum i Vreme Treninga
        </div>
        <div>
            Maksimalan Broj Posetilaca
        </div>
        <div>
            Posetioci
        </div>
    </div>
    @foreach (var item in (List<GrupniTrening>)ViewData["lista_grupnih_treninga"])
    {
        <div>
            <div>
                @item.Id
            </div>
            <div>
                @item.Naziv
            </div>
            <div>
                @item.Tip_treninga
            </div>
            <div>
                @item.Fitnes_centar
            </div>
            <div>
                @item.Trajanje_treninga
            </div>
            <div>
                @item.Datum_i_vreme_treninga
            </div>
            <div>
                @item.Maksimalan_broj_posetilaca
            </div>
            <div>
                @if (item.Spisak_posetilaca.Count == 0)
                {
                    <p>Trenutna Nemate Nijednog Posetioca</p>
                }
                else
                {
                    <select>

                        @foreach (var pos in item.Spisak_posetilaca)
                        {
                            <option>@pos</option>
                        }
                    </select>
                }
            </div>
        </div>
    }

</div>

<div class="container">
    <h1>Sortira</h1>
    <div>
        <div>
            <form action="~/Trener/Sortiraj" method="post">
                <div>
                    <select name="sta">
                        <option value="Nazivu">Naziv</option>
                        <option value="Tipu">Tip Treninga</option>
                        <option value="Datumu">Datum i Vreme Odrzavanja</option>
                    </select>
                </div>
                <div>
                    <select name="vrsta">
                        <option value="Rastuce">Rastuce</option>
                        <option value="Opadajuce">Opadajuce</option>
                    </select>
                </div>
                <div>
                    <input type="submit" id="submit" value="Odaberi">
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container">
    <h1>Pretrazuje</h1>
    <div>
        <div>
            <form action="~/Trener/Pretrazi" method="post">
                <div>
                    <input type="text" name="nzv" placeholder="Pretraga Po Nazivu" id="polje" />
                </div>
                <div>
                    <input type="text" name="tip" placeholder="Pretraga Po Tipu" id="polje" />
                </div>
                <div>
                    <input type="datetime-local" name="datumivrminimum" placeholder="Pretraga Po Minimalnom Datumu" id="polje" />
                    <input type="datetime-local" name="datumivrmaksimum" placeholder="Pretraga Po Maksimalnom Datumu" id="polje" />
                </div>
                <div>
                    <input type="submit" id="submit" value="Odaberi">
                </div>
            </form>
        </div>
    </div>
</div>
